<%- include('partials/head'); %>


<% assigments.forEach( (assigment) => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title"><%- assigment.modality %> - <%- assigment.name %></h4>
      <h6 class="card-subtitle my-2 text-muted"><%- assigment.class.subject.name %></h6>
      <p class="card-text"><small class="text-muted"><b>Fecha:</b> <%- assigment.commitmentDate %></small></p>
    </div>
  </div>
<% }); %>




<%- include('partials/footer'); %>